
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');


body {
  margin: 0;
  font-family: 'Slabo 27px', serif !important;
  background-color: #a8dadc49 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
